.save-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
}

.save-btn {
    width: 130px;
    padding: 7px 5px;
    border-radius: 5px;
    border: none;
    outline: 1px solid rgb(58, 150, 112);
    background: #48a288;
    font-weight: normal;
    letter-spacing: 0.6px;
    font-size: 0.95rem;
}

.save-btn:hover {
    outline: 2px solid rgb(52, 124, 94);
    background: #71d8bb;
}

.error-message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 5px 15px;
    color: rgb(115, 0, 0);
    font-size: 0.9rem;
    font-weight: bold;
    background-color: rgb(227, 114, 137);
    border-radius: 5px;
}

.done-message {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 5px 15px;
    color: rgb(15, 73, 1);
    font-size: 0.9rem;
    font-weight: bold;
    background-color: rgb(146, 255, 131);
    border-radius: 5px;
}

@media (max-width: 425px) {
    .save-btn-container {
        width: 100%;
        padding: 5px;
        margin: 0px 0px;
    }
    .save-btn:active {
        outline: 2px solid rgb(52, 124, 94);
        background: #71d8bb;
    }
    .error-message-container {
        align-items: flex-start;
    }
    .done-message {
        align-items: flex-start;
    }
}

@media (max-width: 375px) {
    .save-btn-container {
        width: 100%;
    }
    .save-btn:active {
        outline: 2px solid rgb(52, 124, 94);
        background: #71d8bb;
    }
    .error-message-container {
        align-items: flex-start;
    }
    .done-message {
        align-items: flex-start;
    }
}