.save-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
}

.save-btn {
    width: 250px;
    padding: 7px 5px;
    border-radius: 5px;
    border: none;
    outline: 2px solid rgb(26, 79, 57);
    box-shadow: inset 0px 0px 10px rgb(66, 105, 89);
    background: var(--main-title-color);
    font-weight: bold;
    letter-spacing: 0.6px;
    color: var(--main-dark-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.save-btn:hover {
    outline: 2px solid rgb(52, 124, 94);
    background: #71d8bb;
    transform: scaleX(1.1);
}

.save-btn:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    outline: none;
}

.error-message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 5px 15px;
    color: rgb(115, 0, 0);
    font-size: 0.9rem;
    font-weight: bold;
    background-color: rgb(227, 114, 137);
    border-radius: 5px;
}

.done-message {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 5px 15px;
    color: rgb(15, 73, 1);
    font-size: 0.9rem;
    font-weight: bold;
    background-color: rgb(63, 191, 140);
    border-radius: 5px;
    width: 350px;
}

@media (max-width: 425px) {
    .save-btn-container {
        width: 100%;
        padding: 5px;
        margin: 0px 0px;
    }
    .save-btn:active {
        outline: 2px solid rgb(52, 124, 94);
        background: #71d8bb;
    }
    .error-message-container {
        align-items: flex-start;
    }
    .done-message {
        align-items: flex-start;
        margin-top: 20px;
        width: 300px;
    }
}

@media (max-width: 375px) {
    .save-btn-container {
        width: 100%;
    }
    .save-btn:active {
        outline: 2px solid rgb(52, 124, 94);
        background: #71d8bb;
    }
    .error-message-container {
        align-items: flex-start;
    }
    .done-message {
        align-items: flex-start;
        width: 300px;
    }
}