.section-inputs-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 85%;
}

.inputs-edit-modal {
    margin-top: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgrey;
    color: rgb(71, 71, 71);
    padding: 8px;
}

.button-update {
    margin-top: 15px;
    width: 100%;
    padding: 6px;
    border: 2px solid rgb(47, 51, 2);
    border-radius: 5px;
    background: #fbff16;
    font-weight: bold;
    font-size: 0.95rem;
    letter-spacing: 0.6px;
    color: rgb(44, 45, 1);
}

.button-update:hover {
    border: 2px solid rgb(24, 71, 51);
    background: #fcff68;
    color: black;
}

.button-update:active {
    border: 2px solid rgb(24, 71, 51);
    background: #118c0b;
}

#modal-content-not-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 120px;
    border-radius: 10px;
    background: rgb(114, 250, 195);
}