.section-inputs-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 85%;
}

.inputs-edit-modal {
    margin-top: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgrey;
    color: rgb(71, 71, 71);
    padding: 8px;
}

.button-update {
    margin-top: 15px;
    width: 100%;
    padding: 6px;
    border: 2px solid rgb(40, 112, 82);
    background: #48a288;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.button-update:hover {
    border: 2px solid rgb(24, 71, 51);
    background: #118c0b;
}

.button-update:active {
    border: 2px solid rgb(24, 71, 51);
    background: #118c0b;
}