.routes-title {
    margin-bottom: 10px;
    margin-left: 20px;
}

.home-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

@media (min-width: 600px) {
    .main-routes-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .routes-title {
        text-align: center;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width: 425px) {
    .routes-title {
        text-align: center;
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

@media (max-width: 600px) {
    .home-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }
}

.links {
    display: inline-block;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
    text-decoration: none;
    text-align: center;
    color: black;
}