:root {
  --main-title-color: #4afef0;
  --main-middle-color: #027a7a;
  --main-dark-color: #014141;
}
.global {
  min-height: 100vh;
  background: linear-gradient(to bottom, #153232, #014141);
  padding-bottom: 40px;
}

.main-routes-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

.routes-title {
  margin-bottom: 30px;
  margin-left: 20px;
  font-size: 1.9rem;
  letter-spacing: 2px;
  color: var(--main-title-color);
  text-align: center;
}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.links {
  display: inline-block;
  width: 220px;
  padding: 20px;
  border-radius: 6px;
  border: 3px solid cadetblue;
  background: linear-gradient(rgb(237, 250, 250), rgb(147, 218, 190));
  text-decoration: none;
  text-align: center;
  color: rgb(0, 33, 30);
  font-weight: 600;
  letter-spacing: 0.8px;
}

.animation-link-1 {
  animation: faceIn 1s;
}

.animation-link-2 {
  animation: faceIn 2s;
}

.animation-link-3 {
  animation: faceIn 3s;
}

.animation-link-4 {
  animation: faceIn 4s;
}

@keyframes faceIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.links:hover {
  background: linear-gradient(rgb(196, 210, 210), rgb(117, 196, 164));
  border: 3px solid rgb(76, 126, 128);
}

@media (max-width: 425px) {
  .routes-title {
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .links {
    margin-top: 8px;
    padding: 5px;
  }
}

@media (max-width: 600px) {
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 25px;
    box-sizing: border-box;
  }
  .links {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.2rem;
    text-align: start;
  }
  .links:active {
    background: linear-gradient(rgb(196, 210, 210), rgb(117, 196, 164));
    border: 3px solid rgb(76, 126, 128);
  }
}
