.map-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
  min-height: 100vh;
}

.map {
  height: 500px;
  width: 500px;
  border: 3px solid darkgreen;
  border-radius: 6px;
}

.error-div-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-error-map {
  color: red;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.title-type-map {
  color: rgb(0, 0, 0);
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
}

@media (max-width: 425px) {
  .map {
    height: 375px;
    width: 350px;
  }
}

@media (max-width: 375px) {
  .map {
    height: 400px;
    width: 345px;
  }
}
