@import url("global.css");
.map-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
  min-height: 100vh;
  animation: BounceInLeft 1s;
}

.map {
  height: 500px;
  width: 500px;
  border: 5px solid var(--main-middle-color);
  border-radius: 8px;
}

@keyframes BounceInLeft {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0);
  }
}
.error-div-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-error-map {
  color: red;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.title-type-map {
  color: var(--main-title-color);
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

@media (max-width: 425px) {
  .map {
    height: 375px;
    width: 350px;
  }
}

@media (max-width: 375px) {
  .map {
    height: 400px;
    width: 345px;
  }
}
