@import url("global.css");
nav {
  background-color: var(--main-dark-color);
  color: white;
  font-weight: bold;
}

.nav-icon {
  width: 30px;
  height: 30px;
  color: white;
  padding: 10px;
}

@media (min-width: 425px) {
  .nav-icon {
    display: none;
  }
}

.nav-items,
.none {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  padding: 10px;
}

@media all and (max-width: 425px) {
  .nav-items {
    position: fixed;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    gap: 4px;
    background-color:  rgba(0,0,0,0.9);
    min-height: 100vh;
    width: 100%;
    animation: movefromRight 0.5s;
  }
  .none {
    display: none;
  }
}

.nav-link {
  width: 100%;
  padding: 10px;
  color: var(--main-light-color);
  font-size: 24px;
  text-decoration: none;
  border-bottom: 1px solid  var(--main-middle-color);
}

.nav-link.active {
  color: var(--main-title-color);
}

@keyframes movefromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}