@import url("global.css");
.ranking-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

table {
  width: 340px;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}

th,
tr,
td {
  padding: 15px 5px;
  border-bottom: 3px solid var(--main-middle-color);
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  font-size: 1rem;
  color: white;
}

th {
  padding: 10px 5px;
  color: var(--main-title-color);
}

.ranking-column {
  width: 14%;
}

.info-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 6px;
}

.edit-icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin-right: 6px;
}

@media (min-width: 600px) {
  table {
    width: 600px;
  }
}

@media (max-width: 425px) {
  th,
  tr,
  td {
    font-size: 0.88rem;
  }
  .info-icon {
    width: 20px;
    height: 20px;
  }
  .edit-icon {
    width: 18px;
    height: 18px;
  }
}
